In [1]:
import mysql.connector 
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "abhi",database ="Python_mysql") 
#printing the connection object   
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A8C5A54C40>

In [2]:
#creating the cursor object  
cur = conn.cursor()  
try:  
    dbs = cur.execute("show databases")  
except:  
    conn.rollback()  
for x in cur:  
    print(x)  
#conn.close() 
print(cur)

('information_schema',)
('mysql',)
('performance_schema',)
('python_mysql',)
('smart_hospital',)
('sys',)
CMySQLCursor: show databases

In [3]:
#creating a new database  
cur.execute("create database PythonMYSQL")

In [4]:
cur = conn.cursor()  
try:  
    dbs = cur.execute("show databases")  
except:  
    conn.rollback()  
for x in cur:  
    print(x)  
#conn.close() 
print(cur)

('information_schema',)
('mysql',)
('performance_schema',)
('python_mysql',)
('pythonmysql',)
('smart_hospital',)
('sys',)
CMySQLCursor: show databases

In [5]:
#creating table
dbs = cur.execute("CREATE TABLE STUDENTS_DATA(StuID INT NOT NULL,StuName VARCHAR (20) NOT NULL,StuAge INT NOT NULL,StuAddress VARCHAR (25),StuDegree VARCHAR (20),StuBranch VARCHAR (20))")

In [6]:
cur = conn.cursor()  
q="insert into STUDENTS_DATA(StuID,StuName,StuAge,StuAddress,StuDegree,StuBranch)values(%s,%s,%s,%s,%s,%s)"
v=[(101,"lakshmi",20,"RJY","BE","ECE"),(102,"Durga",22,"HYD","BE","EEE"),(103,"ABHI",24,"VSP","BE","CSE"),(104,"GOWTHAMI",27,"VWJ","BTECH","AGRI"),(105,"JYOTHSNA",25,"RJY","BTECH","CIVILS"),(106,"SURESH",29,"RAM","BTECH","ME")]
try:
    cur.executemany(q,v)
    conn.commit()
except:  
    conn.rollback()    
#conn.close()

In [7]:
conn.close()